<!DOCTYPE html>
<html>
  <head>
    <title>Not Signed In</title>
    <%- include ('partials/product_head') %>
  </head>
  <body>
    <%- include ('partials/navbar') %>
    <h1><%= error.status %> <%= message %></h1>
    <!--<pre><%= error.stack %></pre> -->




  </body>
</html>
