<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <%- include ('partials/product_head') %>
</head>

<body>
  <%- include ('partials/navbar') %>
  <h3 id="build-title" class="text-center bold-font py-5">Completed Rods</h3>
  <div class="container-fluid my-4">
    <div class="row justify-content-center align-items-start">
      <div class="col-lg-9">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="output">

          <%- include ('partials/post', results) %>



        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <% if (results.total.pages > 0) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination text-center">
          <% if (results.current.page == 1) { %>
          <li class="disabled page-item"><a class="page-link" href="#" tabindex="-1">First</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/feed?page=1&limit=10">First</a></li>
          <% } %>
          <% var i = (results.current.page > 5 ? results.current.page - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="disabled page-item"><a class="page-link" href="#" tabindex="-1">...</a></li>
          <% } %>
          <% for (; i <= (results.current.page + 4) && i <= results.total.pages; i++) { %>
          <% if (i == results.current.page) { %>
          <li class="active page-item"><a class="page-link" href="#"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/feed?page=<%= i %>&limit=10"><%= i %></a></li>
          <% } %>
          <% if (i == results.current.page + 4 && i < results.total.pages) { %>
          <li class="disabled page-item"><a class="page-link" href="#" tabindex="-1">...</a></li>
          <% } %>
          <% } %>
          <% if (results.current.page == results.total.pages) { %>
          <li class="disabled page-item"><a class="page-link" href="#">Last</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/feed?page=<%= results.total.pages %>&limit=10">Last</a></li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>


  </div>
   <%- include ('partials/footer') %>

</body>

</html>
